body {
    background-color: #cbe5e5;
    height: 103vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .img{
    height: 20vh;
    width: 20vh;
  }
  .card {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 24px;
    min-width: 350px;
    max-width: 410px;
    width: 100%;
    background-color: #dec5c5;
    color: #2b2b2b;
    text-align: center;
    font-size: 16px;
    background-color: #bbf2c4;
    transition: 200ms ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
    border-radius: 40px;
  
  }
.card:hover{
    max-width: 423px;
    transition: 0.2s ease-in-out;
   
}
figcaption{
    position: relative;
   
    justify-content: center;
    align-items: center;
}
 


  figcaption{
    padding: 5% 10% 15%;
  }
 i{
    color: #fc9595;
  }
  i:hover{
    color: #f37676;
  }
  
  