*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: baseline;
    align-items: center;
    min-height: 100vh;
    background: skyblue;
    margin: 0px 120px;
    overflow: hidden;
}
h1{
    position: relative;
    color: #fff;
    font-size: 10em;
    line-height: 1.1em;
    outline: none;
    text-align: center;
    user-select: none;
    transform: rotate(-10deg)skewX(20deg);
    text-shadow: -1px 1px lightblue,
    -2px 2px lightblue,
    -3px 3px lightblue,
    -4px 4px lightblue,
    -5px 5px lightblue,
    -6px 6px lightblue,
    -7px 7px lightblue,
    -8px 8px lightblue,
    -19px 19px rgba(107, 107, 105, 0.45),
    -20px 20px rgba(108, 108, 105, 0.45)

    ;
}