*{
    padding:0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
ul{
    list-style: none;
   
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
display: block;
padding: 20px 25px;

color: black;
text-decoration: none;
text-align: center;

}
ul li ul.dropdowns li{
display: block;
border-radius: 45px;
}
ul li ul.dropdowns {
    border-radius: 45px;
width:100%;

position: absolute;

display: none;
    }
    ul li a:hover{
        background: rgb(224, 156, 156);
      border-radius: 45px;
     color: rgb(255, 255, 255);
    
    }
    ul li:hover ul.dropdowns{
display: block;
    }
 .options{
    margin: 5px 5px;
 }
    .options:nth-child(odd){
 background: rgb(239, 208, 239);
    }
    .options:nth-child(even){
        background: rgb(230, 178, 221);
           }
           .options:nth-child(odd):hover{
            background: rgb(243, 243, 249);
               }
               .options:nth-child(even):hover{
                background: rgb(254, 247, 213);    }