*{
    padding:0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
ul{
    list-style: none;
    background: rgb(239, 238, 241);
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
display: block;
padding: 20px 25px;

color: black;
text-decoration: none;
text-align: center;

}
ul li ul.dropdowns li{
display: block;
}
ul li ul.dropdowns {
width:100%;
background: rgba(137, 119, 238, 0.902);
position: absolute;

display: none;
    }
    ul li a:hover{
        background: black;
      
     color: rgb(255, 255, 255);
    
    }
    ul li:hover ul.dropdowns{
display: block;
    }
    .options{
        border: 1px solid black;
    }
    .options:nth-child(odd){
 background: rgb(228, 228, 231);
    }
    .options:nth-child(even){
        background: rgb(255, 230, 146);
           }
           .options:nth-child(odd):hover{
            background: rgb(243, 243, 249);
               }
               .options:nth-child(even):hover{
                background: rgb(254, 247, 213);    }