*{
    padding:0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
ul{
    list-style: none;
    background: rgb(132, 121, 216);
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
display: block;
padding: 20px 25px;

color: aliceblue;
text-decoration: none;
text-align: center;

}
ul li ul.dropdowns li{
display: block;
}
ul li ul.dropdowns {
width:100%;
background: rgba(137, 119, 238, 0.902);
position: absolute;

display: none;
    }
    ul li a:hover{
     color: black;
    }
    ul li:hover ul.dropdowns{
display: block;
    }
    .options:nth-child(odd){
 background: rgb(147, 147, 223);
    }
    .options:nth-child(even){
        background: rgb(111, 111, 225);
           }
           .options:nth-child(odd):hover{
            background: rgb(111, 111, 225);
               }
               .options:nth-child(even):hover{
                background: rgb(147, 147, 223);    }