* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60)
    ;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .navbar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: rgba(165, 158, 162, 0.33);
 
    color: white;
  }
  
  .brand-title {
    display: flex;
    
    position: relative;
    font-size: 1.5rem;
    margin: 10px 10px;
    justify-content: space-between;
    right: 320px;
  }
  
  .navbar-links {
    height: 100%;
  }
  
  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    justify-content: space-around;
    padding: 20px 60px;
    transform: scale(1.2);
            transition: transform 300ms ease-in;
   
  }
  
  .navbar-links li:hover {
    transform: scale(1.5);
    transition: transform 300ms ease-in;
 
  }
  
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .toggle-button {
        display: flex;
    }
  
    .navbar-links {
        display: none;
        width: 100%;
    }
  
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .navbar-links ul li {
        text-align: center;
    }
  
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
  
    .navbar-links.active {
        display: flex;
    }
  }