*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: url('https://media.istockphoto.com/id/1036100456/photo/glowing-light-bulb-standing-out-from-the-crowd.jpg?s=612x612&w=0&k=20&c=POb-taHDQqLCyqTv384hplewPhHycwfpcnhoxEW2ok8=')
    ;
    background-repeat: no-repeat;
    background-size: cover;
    


}
table{
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
table,th,td{
    padding:20px;
   
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
}
td{
    font-size: 19px;
  
}
th{
   
    color: white;
   

}

tr:hover{
 background-color: rgb(53, 53, 92);
 z-index: -1;
 opacity: 0.7;
    color: white;
    transform: scale(1.2);
    transition: transform 300ms ease-in-out;
   
}
